@using BlazorSensorDashboard.Shared
@inject ConfigurationService ConfigurationService
@implements IDisposable

@page "/configuration"

<h3>Configuration</h3>

@if (Loading)
{
    <p><em>Loading...</em></p>
}
else
{
<table class='table table-striped'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Host Device</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in SensorConfig)
        {
            <tr>
                <td>@sensor.Name</td>
                <td>@sensor.Manufacturer</td>
                <td>@sensor.HostDevice</td>
                <td>@sensor.SensorUnits</td>
            </tr>
        }
    </tbody>
    </table>
    <ConfigNewItem/>
}

@code {
    SensorConfigInfo[] SensorConfig { get; set; }

    bool Loading { get; set; } = true;

    IDisposable subscription;

    protected override Task OnInitializedAsync()
    {
        GetSensorConfig();

        return Task.CompletedTask;
    }

    private void GetSensorConfig()
    {
        subscription = ConfigurationService.GetConfig()
            .Subscribe(config =>
            {
                Console.WriteLine("Received sensor config");
                this.SensorConfig = config;
                this.Loading = false;
                StateHasChanged();
            });
    }

    public void Dispose()
    {
        subscription?.Dispose();
    }
}
